<nav class="navigation" role="navigation" data-module="togglenavigation" data-toggle-btn="m-mega-nav__btn" data-toggle-class="is-expanded">

  <div class="m-mega-nav__wrapper">

    <div class="u-container">

      {# First level #}
      <ul class="m-mega-nav__first-level m-mega-nav">
        {% for link in items %}
        <li class="m-mega-nav__item">
        <a class="m-mega-nav__link {{link.current}}" {{link.aria_current}} href="{{ link.url }}">{{ link.title }}</a>

          {# Second level #}
          {% if link.items %}
          <button class="m-mega-nav__btn">
            <span class="u-visually-hidden">{{ toggle }}</span>
          </button>
          <ul class="m-mega-nav__second-level m-mega-nav" aria-hidden="true">
            {% for link in link.items %}
            <li class="m-mega-nav__item">
              <a class="m-mega-nav__link {{link.current}}" {{link.aria_current}} href="{{link.url}}">{{link.title}}</a>

              {# Third level #}
              {% if link.items %}
              <button class="m-mega-nav__btn">
                <span class="u-visually-hidden">{{ toggle }}</span>
              </button>
              <ul class="m-mega-nav__third-level m-mega-nav" aria-hidden="true">
                {% for link in link.items %}
                <li class="m-mega-nav__item">
                  <a class="m-mega-nav__link {{link.current}}" {{link.aria_current}} href="{{link.url}}">{{link.title}}</a>

                  {# Fourth level #}
                  {% if link.items %}
                  <button class="m-mega-nav__btn">
                    <span class="u-visually-hidden">{{ toggle }}</span>
                  </button>
                  <ul class="m-mega-nav__fourth-level m-mega-nav" aria-hidden="true">
                    {% for link in link.items %}
                    <li class="m-mega-nav__item">
                      <a class="m-mega-nav__link {{link.current}}" {{link.aria_current}} href="{{link.url}}">{{link.title}}</a>

                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
