<div class="vertical-card">
  {% if verticalcard.image.url %}
    <div class="vertical-card__image-wrapper" style="background-image: url({{verticalcard.image.url}});" title="{{verticalcard.image.alt}}" data-module="elementratio" data-x="16" data-y="9"></div>
  {% endif %}

  <div class="vertical-card__content-wrapper">

    {% if verticalcard.image.url %}
      <div class="vertical-card__tag-wrapper">
        {% for tag in verticalcard.tags%}
          <span>{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}

    {% if verticalcard.date %}
      <p class="vertical-card__meta">Datumfält {{ verticalcard.date|date("Y/m/d") }}</p>
    {% endif %}

    {% if verticalcard.title and verticalcard.link %}
      <a href="{{verticalcard.link}}">
        <h2 class="vertical-card__title">{{ verticalcard.title }}</h2>
      </a>
      {% elseif verticalcard.title and not verticalcard.link %}
        <h2 class="vertical-card__title">{{ verticalcard.title }}</h2>
    {% endif %}

    {% if verticalcard.content %}
      <p class="vertical-card__content">{{ verticalcard.content }}</p>
    {% endif %}

    {% if verticalcard.icon %}
      <div class="vertical-card__icon-wrapper">
        <svg class="a-icon" width="{{verticalcard.icon.width}}" height="{{verticalcard.icon.height}}">
          <use href="/icons/icons.svg#{{verticalcard.icon.name}}" xlink:href="/icons/icons.svg#{{verticalcard.icon.name}}"></use>
        </svg>
      </div>
    {% endif %}

  </div>
</div>
