<!DOCTYPE html>
<html>
<head>
  <title>{{ _target.label }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="{{ '/styles/main.css' | path }}" rel="stylesheet">
  <script src="{{ '/javascript/main.js' | path }}" defer=""></script>
</head>
<body>
  {{ yield }}
</body>
</html>
