/* ==========================================================================
   Settings
   ========================================================================== */

$ie10andbelow: false !default;
$ie9andbelow: false !default;
$ie8andbelow: false !default;

@import "_settings.typography";
