/* ==========================================================================
   Molecule - Mega navigation
   ========================================================================== */

.m-main-nav__wrapper {

  /*
   * First level styles
   */
  > .m-main-nav__container > .m-main-nav {
    margin-left: 0;
    display: block;

    & > .m-main-nav__item > {

      & .m-main-nav { margin-left: 0; }

      & .m-main-nav__link {
        padding: 8px  0px;

        @media (min-width: 600px) {
          padding: 0;
        }
      }
    }

    & > .m-main-nav__item:not(:first-child) { margin-top: 16px; }
  }
  /* !end.first level styles */

  & .m-main-nav__container { padding: 0 24px; }

  .m-main-nav {
    display: none;
    margin-left: 24px;

    &.active {
      display: block;
    }

    &__item {
      position: relative;
      margin-top: 16px - 2;
    }

    &__link {
      display: inline-block;
      padding: 0px;
      text-decoration: none;
      transition: background 0.25s ease-in-out;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }

  .m-main-nav__btn {

    position: absolute;
    top: 8px ;
    right: 8px ;
    padding: 12px;
    transform: rotate(0deg);
    background: transparent url('../images/arrow-down.svg') no-repeat 50% 50%;
    background-size: 22px 22px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;

    &.active {
      transform: rotate(-180deg);
    }

    &:hover,
    &:focus {
      background-color: transparent;
    }

    // Smaller icons on sublevel
    & + .m-main-nav > .m-main-nav__item .m-main-nav__btn {
      padding: 8px ;
      background-size: 14px 14px;

      @media (min-width: 600px) {
        position: static;
        display: inline-block;
        height: 14px;
        padding: 0 8px ;
        margin-left: 16px;
      }
    }
  }
}

