
$breakpoint: 680px;
$spacing: 8px;
$spacing-small: 24px;
$spacing-medium: 40px;

// Helper class
.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.m-mega-nav__wrapper {

  & .m-mega-nav__item {}
  &.is-expanded .m-mega-nav__item {}
  & .m-mega-nav__link {}
  &.is-expanded { & .m-mega-nav__link {} }

  .m-mega-nav__first-level { display: block; }
}

.m-mega-nav {
  display: none;
  margin-left: $spacing;
  list-style: none;
  padding: 0;

  &.is-expanded { display: block; }

  &__item { position: relative; }

  &__link {

    &:hover,
    &:focus { text-decoration: underline; }

    &.is-expanded { text-decoration: underline; }
  }
}

.m-mega-nav__btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: $spacing;

  background: transparent url('../images/arrow-down.svg') no-repeat 50% 50%;
  background-size: 16px 16px;
  cursor: pointer;

  @media (min-width: $breakpoint) {
    position: static;
    display: inline-block;
  }

  &.is-expanded {
    background-image: url('../images/arrow-up.svg');
  }

  &:hover,
  &:focus {}
}
