$example-background: #ccc;
$example-spacing: 24px;

.vertical-card {
  background-color: $example-background;

  .vertical-card__content-wrapper { padding: $example-spacing; }

  // Set margin to bottom of all elements
  .vertical-card__tag-wrapper,
  .vertical-card__meta,
  .vertical-card__title,
  .vertical-card__content {
    margin-top: 0;
    margin-bottom: $example-spacing;
  }

  .vertical-card__meta {}

  .vertical-card__title {}

  .vertical-card__content {}

  .vertical-card__icon-wrapper {}

  .vertical-card__image-wrapper { background-size: cover; }
}
