<div class="fullwidthtextelement" data-module="fullwidthtextelement" data-target-class="fullwidthtextelement__content">
  <span class="fullwidthtextelement__content">{{ fullwidthtextelement.content }}</span>
</div>
