
{% macro menu_tree(menuSection) %}
  {% for link in menuSection %}
    <li class="m-main-nav__item {{link.options.attributes.class}}">
      <a class="m-main-nav__link {{link.current}}" {{link.aria_current}} href="{{ link.url }}">{{ link.title }}</a>
      {% if link.items %}
        <button class="m-main-nav__btn">
          <span class="u-visually-hidden">{{ toggle }}</span>
        </button>
        <ul class="m-main-nav u-list-unstyled" aria-hidden="true">
          {{ _self.menu_tree(link.items) }}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}



<nav class="navigation m-mega-nav" role="navigation" data-module="menutoggle" data-toggle-btn="m-main-nav__btn" data-toggle-class="active">

    {% for menuSection in items %}
      <div class="grid-col grid-col-33">
        <div class="m-main-nav__wrapper">
          <div class="m-main-nav__container">
            <ul class="m-main-nav u-list-unstyled">

              {% import _self as macros %}
              {{ macros.menu_tree(menuSection) }}

            </ul>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</nav>
